*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# Ignore emacs backups
*~
TAGS
# Based on guidance found at: http://stackoverflow.com/questions/16087120/
.ruby-version
.ruby-gemset
.rvmrc
